source https://www.nuget.org/api/v2
nuget Antlr 3.4.1.9004 framework: >= net452
nuget bootstrap 3.0.0 framework: >= net452
nuget fake
nuget FSharp.Core
nuget jQuery 1.10.2 framework: >= net452
nuget Microsoft.ApplicationInsights 2.2.0 framework: >= net452
nuget Microsoft.ApplicationInsights.Agent.Intercept 2.0.6 framework: >= net452
nuget Microsoft.ApplicationInsights.DependencyCollector 2.2.0 framework: >= net452
nuget Microsoft.ApplicationInsights.PerfCounterCollector 2.2.0 framework: >= net452
nuget Microsoft.ApplicationInsights.Web 2.2.0 framework: >= net452
nuget Microsoft.ApplicationInsights.WindowsServer 2.2.0 framework: >= net452
nuget Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel 2.2.0 framework: >= net452
nuget Microsoft.AspNet.Mvc 5.2.3 framework: >= net452
nuget Microsoft.AspNet.Razor 3.2.3 framework: >= net452
nuget Microsoft.AspNet.Web.Optimization 1.1.3 framework: >= net452
nuget Microsoft.AspNet.WebApi 5.2.3 framework: >= net452
nuget Microsoft.AspNet.WebApi.Client 5.2.3 framework: >= net452
nuget Microsoft.AspNet.WebApi.Core 5.2.3 framework: >= net452
nuget Microsoft.AspNet.WebApi.HelpPage 5.2.3 framework: >= net452
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3 framework: >= net452
nuget Microsoft.AspNet.WebPages 3.2.3 framework: >= net452
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.3 framework: >= net452
nuget Microsoft.Net.Compilers 1.3.2 framework: >= net452
nuget Microsoft.Web.Infrastructure 1.0.0.0 framework: >= net452
nuget Modernizr 2.6.2 framework: >= net452
nuget Newtonsoft.Json 6.0.4 framework: >= net452
nuget Respond 1.2.0 framework: >= net452
nuget Suave 2.0.5
nuget WebGrease 1.5.2 framework: >= net452